#certifications{
    height: 110vh;
    position: relative;
}

#certifications h3{
    position: absolute;
    color: rgb(250, 250, 250);
    font-size: 3rem;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 2rem;
    margin: 0;
    text-decoration: underline;
}

#certifications p{
    position: absolute;
    color: rgb(250, 250, 250);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 4.5rem;
}

#certification_grid{
    display: grid;
    top: 20%;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
}
    
.kursbevis{
    width: 18rem;
    height: 27rem;
    padding-left: 20%;
}

#kursbevis_tv{
    position: relative;
}

#tv_studio_badge{
    position: relative;
    top: 1rem;
    left: 45%;
    font-size: larger;
    border: 4px solid #F20505;
    border-radius: 55px;
    color: #F20505;
    text-decoration: none;
    padding: 0.4rem;
}
