#certifications{
    height: 110vh;
    position: relative;
}

#certifications h3{
    position: absolute;
    color: rgb(250, 250, 250);
    font-size: 3rem;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 2rem;
    margin: 0;
    text-decoration: underline;
}

#certifications p{
    position: absolute;
    color: rgb(250, 250, 250);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 4.5rem;
}

.kursbevis {
    position: absolute;
    width: 18rem;
    height: 27rem;
    cursor: copy;
    top: 8rem;
}

#kursbevis_grafisk {
    left: 12.5%;
}

#kursbevis_street{
    left: 40%;
}

#kursbevis_tv{
    left: 67.5%;
}

#tv_studio_badge{
    position: absolute;
    top: 36.4rem;
    left: 68.5rem;
    font-size: larger;
    border: 4px solid #F20505;
    border-radius: 55px;
    color: #F20505;
    text-decoration: none;
    padding: 0.4rem;
}

#tv_studio_badge_grid{
    font-size: 1.2rem;
    border: 4px solid gray;
    border-radius: 55px;
    color: gray;
    font-style: normal;
    padding: 0.4rem;
}

/* #tv_studio_badge_grid:hover{
    border: 4px solid #F20505;
    color: #F20505;
} */

#graphic_badge{
    position: absolute;
    top: 36.4rem;
    left: 18.5rem;
    font-size: 1.5rem;
    border: 4px solid #F29F05;
    border-radius: 55px;
    color: #F29F05;
    padding: 0.4rem;
    text-decoration: none;
}

#graphic_badge_grid{
    font-size: 1.5rem;
    border: 4px solid gray;
    border-radius: 55px;
    color: gray;
    padding: 0.4rem;
    text-decoration: none;
}

/* #graphic_badge_grid:hover{
    border: 4px solid #F29F05;
    color: #F29F05;
} */

#photography_badge{
    position: absolute;
    top: 36.4rem;
    left: 43.4rem;
    font-size: 1.5rem;
    border: 4px solid #38f205;
    border-radius: 55px;
    color: #38f205;
    padding: 0.4rem;
}

#photography_badge_grid{
    font-size: 1.5rem;
    border: 4px solid gray;
    border-radius: 55px;
    color: gray; /* rgb(250, 250, 250) */
    padding: 0.4rem;
}

/* #photography_badge_grid:hover{
    border: 4px solid #38f205;
    color: #38f205;
} */