footer{
    position: relative;
    margin-top: 10rem;
    height: 50vh;
    border-top: 2px solid rgb(250, 250, 250);
    color: rgb(250, 250, 250);
    background-color: rgb(10, 10, 10);
}

#madeby{
    position: absolute;
    bottom: 0rem;
    left: 2.5rem;
    font-size: 1.2rem;
}

#logo{
    position: absolute;
    top: 1.5rem;
    left: 5rem;
    height: 15rem;
    width: 14.25rem;
}

#cv{
    position: absolute;
    top: 5rem;
    right: 5rem;
    padding: 0.5rem;
    border-radius: 55px;
    border: 4px outset rgb(250, 250, 250);
}

#cv:hover{
    background-color: rgb(250, 250, 250);
    color: rgb(114, 114, 114);
}

#contact_information{
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0rem;
    left: 50%;
}

#accounts{
    position: absolute;
    bottom: 1rem;
    right: 10rem;
    font-size: 1.2rem;
}

#accounts div{
    padding: 1rem;
}

#accounts img{
    width: 2rem;
    height: 2rem;
    border-radius: 55px;
}

#linkedin{
    position: absolute;
    top: 0.65rem;
    left: 6.7rem;
}

#vimeo{
    position: absolute;
    top: 4rem;
    left: 5.5rem;
}

footer a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}

#gmail:hover{
    text-decoration: underline;
}