header{
    position: relative;
    top: 7rem;
    height: 100vh;
}

header img{
    width: 18rem;
    height: 27rem;
    position: absolute;
    left: 12rem;
    top: 1.5rem;
    border: 5px solid rgb(250, 250, 250);
}
header h1{
    color: rgb(250, 250, 250);
    text-decoration: underline;
    position: absolute;
    font-size: 4rem;
    left: 39.7rem;
}

header p{
    color: rgb(250, 250, 250);
    position: absolute;
    font-size: 1.2rem;
    line-height: 2rem;
    top: 7.7rem;
    left: 40rem;
    right: 10rem;
}