#me{
    display: grid;
    place-items: center;
}

#me_items{
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    max-width: 40rem;
}

#title_me{
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
}

#me_description{
    margin: 1rem;
    font-weight: bolder;
}