#documentary{
    display: grid;
    place-items: center;
}

#title_documentary{
    border-bottom: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 0.5rem 11rem;
    margin-top: 5rem;
}

#documentary_items{
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    max-width: 40rem;
}

#documentary_movie{
    z-index: -1;
    width: 40rem;
    height: 22.2rem;
}


#documentary_subtitle{
    font-size: larger;
}

#documentary_text{
    font-size: 1.1rem;
    width: 40rem;
    white-space: pre-line;
    column-count: 3;
    column-rule: 1px solid black;
} 

@media screen and (max-width: 700px) { 
    #title_documentary{
        padding: 0.5rem 5rem;
    }
    
    #documentary_items{
        max-width: 30rem;
    }
    #documentary_movie{
        width: 30rem;
        height: 17rem;
    }
    #documentary_text{
        width: 30rem;
    }
}

@media screen and (max-width: 500px) { 
    #title_documentary{
        padding: 0.5rem 1.2rem;
        font-size: 1.3rem;
    }

    #documentary_items{
        max-width: 20rem;
    }
    #documentary_movie{
        width: 20rem;
        height: 13rem;
    }

    #documentary_text{
        font-size: 0.62rem;
        width: 20rem;
    }
}