#fyrstikkalleen{
    display: grid;
    place-items: center;
    margin-top: 4rem;
}

#title_fyrstikkalleen{
    border-bottom: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 0.5rem 15.6rem;
}

#fyrstikkalleen_items{
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    max-width: 40rem;
}

#fyrstikkalleen_trailer{
    z-index: -1;
    width: 40rem;
    height: 22.2rem;
}

#fyrstikkalleen_description a{
    color: rgb(51, 51, 255);
}

@media screen and (max-width: 700px) { 
    #title_fyrstikkalleen{
        padding: 0.5rem 10.75rem;
    }
    
    #fyrstikkalleen_items{
        max-width: 30rem;
    }
    #fyrstikkalleen_trailer{
        width: 30rem;
        height: 17rem;
    }
}

@media screen and (max-width: 500px) { 
    #title_fyrstikkalleen{
        padding: 0.5rem 5.75rem;
    }

    #fyrstikkalleen_trailer_title{
        font-size: 1.5rem;
    }
    
    #fyrstikkalleen_items{
        max-width: 20rem;
    }
    #fyrstikkalleen_trailer{
        width: 20rem;
        height: 13rem;
    }

    #fyrstikkalleen_description{
        margin: 0;
    }
}