#lyddesign{
    display: grid;
    place-items: center;
    margin-top: 4rem;
}

#title_lyddesign{
    border-bottom: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 0.5rem 13.4rem;
}

#lyddesign_items{
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    max-width: 40rem;
}

#lyddesign_trailer{
    z-index: -1;
    width: 40rem;
    height: 22.2rem;
}

#lyddesign_subtitle{
    font-size: larger;
}

#lyddesign_description{
    margin: 5rem, 0;
}