#poster{
    display: grid;
    place-items: center;
    margin-top: 4rem;
}

#title_poster{
    border-bottom: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 0.5rem 13rem;
}

#poster_items{
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    max-width: 40rem;
}

#poster_one{
    margin: 0;
    width: 20rem;
}

#poster_two{
    float: inline-end;
    margin: 0;
    width: 20rem;
}

@media screen and (max-width: 700px) { 
    #poster_one, #poster_two{
        width: 15rem;
    }
    #title_poster{
        padding: 0.5rem 8rem;
    }
}

@media screen and (max-width: 500px) { 
    #title_poster{
        padding: 0.5rem 3rem;
    }

    #poster_one, #poster_two{
        width: 10rem;
    }

    #poster_items{
        max-width: 20rem;
    }

    #poster_text{
        font-size: 0.7rem;
        width: 20rem;
    }
}