body{
    background-color: rgb(94, 94, 94);
    box-sizing: border-box;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 5rem;
    width: 100%;
    border-bottom: 2px solid rgb(255, 255, 255);
    text-align: center;
}

#countdown{
    position: absolute;
    z-index: 2;
}