body{
    background-color: rgb(94, 94, 94);
    box-sizing: border-box;
}

#title{
    color: rgb(255, 255, 255);
    font-size: 5rem;
    border-bottom: 2px solid rgb(255, 255, 255);
    text-align: center;
    display: none;
}

#countdown{
    position: absolute;
    z-index: 2;
}

