body{
    color: rgb(250, 250, 250);
}

nav{
    position: relative;
    height: 10vh;
    background-color: rgb(10, 10, 10);
    border-bottom: 1px solid rgb(250, 250, 250);
    color: rgb(250, 250, 250);
}

#homeicon{
    position: absolute;
    border: 4px solid rgb(250, 250, 250);
    padding: 0.3rem 0.45rem;
    top: 1rem;
    left: 1rem;
    border-radius: 55px;
    color: rgb(250, 250, 250);
    font-size: 1rem;
    text-decoration: none;
}

nav h2{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: xx-large;
    margin: 0;
}

#myinterest{
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    border: 10px solid rgb(10, 10, 10);
    background-color: rgb(225, 225, 225);
    color: rgb(10, 10, 10);
    padding: 0 7rem 5rem 7rem;
    width: 30rem;
    height: 40vh;
    top: 5rem;
}

#about_screenplay h3{
    text-align: center;
    font-size: xx-large;
}

#about_screenplay p{
    font-size: large;
}